name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install raylib and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libraylib-dev

      - name: Build program
        run: cc -o builder builder.c -lraylib -lm -lpthread -ldl -lrt -lGL -lX11

      - name: Run builder
        run: ./builder
